header {
    display: flex;
    background-color: #faf7e7;
    border: 0.3vw solid rgb(120, 87, 34);
    font-size: 1.8vw;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    top:0;
    position:sticky;
    max-height: 10vh;
}

h1{
    align-self: center;
}

main.separation{
    flex-grow: 1;
}

section.produits{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}


section.opa{
    width : 33%;
    list-style-type: none;
    padding-left: 2vw;
}

footer{
    background-color: #cdcdce;
    opacity: 70%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    border-bottom-style: solid;
    border-top-style: solid;
    flex-shrink: 0;
    border: black solid 0.5vw;
    font-size: 1.5vw;
    min-height: 10vh;
}

section.prevention{
    display: flex;
    width :100%;
    background-color:#ffffff ;
    justify-content: center;
    color: rgb(120, 87, 34);
}

nav.bouton_remonte{
    padding: 1vw;

}

section.produits section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffd560;
    border: 0.3vw;
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(70, 70, 70);
    min-width: 40vw;
    max-height: 30vw;
    margin: 3vw;
    padding: 2vw 2vw 2vw 2vw;
    font-size: 2vw;
}

section.blonde{
    color: #000000;
}

section.brune{
    color: #000000;
}

section.ambree{
    color: #000000;
}

section.black{
    color: #000000;
}

.apropos-text{
    margin: 2vw;
    padding-left: 1vw;
    background-color: rgba(217, 217, 217, 0.5);
    border: 0.4vw solid rgb(120, 87, 34);
    border-radius: 1vw;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  align-items: center;
}

h1.beer{
    font-size: 3vw;
    padding-left: 3vw;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee3ae;
    color: rgb(120, 87, 34);
}

form{
    background-color: #e2e2e2;
    display:flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(70, 70, 70);
    border-width: 0.3vw;
    padding:1vw;
    margin:2vw;
    gap: 0.5vw;
    border-radius:2vw;
}

fieldset{
    border-width: 0;
    padding:0;
}

.bouton_envoyer{
    max-width: 15vw;
}

img{
    max-width: 100%;
    height: 12vw
}

h2.titre{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin: 5vh 10vw 2vh 10vw;
    text-decoration: underline;
}

button.changementCSS{
    width: 100%;
    padding: 0.8vw;
    font-size: 100%;
    color: rgb(255, 191, 0);
    background-color: black;
    border: none;
    border-radius: 0.8vw;
    cursor: pointer;;
}


h2.titre_accueil{
    width: fit-content;
    color: black;
    margin-top: 0%;
    padding: 1vw;
    padding-top: 0rem;
    background-color: #faf7e7;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    border: 2px solid black;
    border-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    text-align:center;}

section.vidéo{ 
    flex-direction: column;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}

p.texte_video{
    font-size: 2vw;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li.vrai_vidéo{
    align-items: center;
    min-width: 3vw;
    min-height: 3vh;
}


video{
    display:block;
    height: auto;
    width: 100%;
}

ul.zone_video{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: fit-content;
    border: 1rem;
    margin: 0;
    margin-bottom: 5rem;
    padding: 0;
    border-style:outset;
    border-color: black ;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5% ;
    border-top-left-radius: 5% ;
    gap: 2rem;
    list-style: none;
    background-color: #fde65fdc}

* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

section.supp  {
    border-right: black 0.3vw solid;
}

h2.direction{
    font-size: 2vw;
    cursor: pointer;
    color: #000;
    border:0.2vw;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: #faf7e7;
}


ul.affichage{
    flex-direction: row;
    display: flex;
    list-style: none;
    justify-content: center;
    max-height: fit-content;
    max-width: 100vw;
    padding-left: 0;
}

img.flèche{
    max-width: 30%;
    height: auto;
    display: block;
    margin: auto auto;

}

ul.Aix-Marseille{
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    padding-right: 3vw;
}


ul.Aix-Marseille img{
    height: 8vh;
    padding-right: 3vw;    
}
footer p {
    color: #000000;
}
footer li {
    color: #000000;
}
footer h2{
    color: #000000;
}

.produits h2{
    width:100%;
}

.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    flex-direction: column;
}