header {
    display: flex;
    background-color: #faf7e7;
    border: 0.3vw solid rgb(120, 87, 34);
    font-size: 1.8vw;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    top:0;
    position:sticky;
    max-height: 10vh;
}

h1{
    margin: 0;
}

main.separation{
    flex-grow: 1;
}

section.produits{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}


section.opa{
    width : 33%;
    list-style-type: none;
    padding-left: 2vw;
}

footer{
    background-color: #cdcdce;
    opacity: 70%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    border-bottom-style: solid;
    border-top-style: solid;
    flex-shrink: 0;
    border: black solid 0.5vw;
    font-size: 1.3vw;
}

section.prevention{
    display: flex;
    width :100%;
    background-color:#ffffff ;
    justify-content: center;
    color: rgb(120, 87, 34);
}

section.produits section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ffd560;
    border: 0.3vw;
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(70, 70, 70);
    min-width: 400px;
    max-height: 20vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
    font-size: 2vw;
}

section.blonde{
    color: #000000;
}

section.brune{
    color: #000000;
}

section.ambree{
    color: #000000;
}

section.black{
    color: #000000;
}

.apropos-text{
    margin: 2vw;
    padding: 1vw;
    background-color: rgba(217, 217, 217, 0.5);
    border: 0.4vw solid rgb(120, 87, 34);
    border-radius: 1vw;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  justify-content: flex-end;
}

h1.beer{
    font-size: 3vw;
    padding-left: 3vw;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee3ae;
    color: rgb(120, 87, 34);
}

form{
    background-color: #e2e2e2;
    display:flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(70, 70, 70);
    border-width: 0.3vw;
    padding:1vw;
    margin:2vw;
    gap: 0.5vw;
    border-radius:2vw;
}

fieldset{
    border-width: 0;
    padding:0;
}

.bouton_envoyer{
    max-width: 15vw;
}

img{
    max-width: 100%;
    height: 12vw
}

h2.titre{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin: 5vh 10vw 2vh 10vw;
    text-decoration: underline;
}

button.changementCSS{
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    color: rgb(255, 191, 0);
    background-color: black;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}


h2.titre_accueil{
    color: black;
    margin-top: 0%;
    background-color:  #faf7e7;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    border: 2px solid black;
    border-top: 0px;
    width : 80%;
    font-size: 150%;
    text-align:center;}

section.vidéo{
    display: block;
    justify-content: center;
    width:100%;
    padding-left: 20%;
    padding-right:5%;
}

p.texte_video{
    font-size: 130%;
}

li.vrai_vidéo{
    padding-right: 4vw;
    padding-bottom: 3vh;
    margin:0;
}

video{
    display:block;
    height: auto;
    width: 100%;
}

ul.zone_video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.6rem rgb(120, 87, 34) solid;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5% ;
    border-top-right-radius: 5% ;
    border-top-left-radius: 5% ;
    width : 80%;
    list-style: none;
    background-color: #faf7e7;
}

* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

section.supp  {
    border-color: black;
    border-right: 0.2em solid;
}

h2.direction{
    font-size: 2vw;
    cursor: pointer;
    color: #000;
    border:0.1rem;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: #faf7e7;
}

section.menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;  
    margin-right: 2%;
}

ul.affichage{
    flex-direction: column;
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

img.flèche{
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto auto;

}

ul.Aix-Marseille{
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    padding-right: 3vw;
}


ul.Aix-Marseille img{
    height: 8vh;
    padding-right: 3vw;    
}
footer p {
    color: #000000;
}
footer li {
    color: #000000;
}
footer h2{
    color: #000000;
}

