header{
    display: flex;
    background-color: rgb(255, 191, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 1.8vw;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border: 0.3vw solid;
    top:0;
    position:sticky;
    max-height: 10vh;
}

h1{
    align-self: center;
}

main.separation{
    flex-grow: 1;
}

section.produits{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}


section.opa{
    text-align: left;
    width: 33.3%;
    padding-left: 2vw;
}

footer{
    background-color: white;
    opacity: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    border-bottom-style: solid;
    border-top-style: solid;
    flex-shrink: 0;
    border: black solid 0.5vw;
    font-size: 1.3vw;
}

section.prevention{
    display: flex;
    width :100%;
    background-color:rgb(255, 191, 0) ;
    justify-content: center;
    border-top: 0.3vw solid;
    border-bottom: 0.3vw solid;
}

nav.bouton_remonte{
    padding-top: 1vw;

}

section.produits section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3vw;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    min-width: 40vw;
    max-height: 30vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
    font-size: 2vw;
}

section.blonde{
    background-color: #f9de5b;
}

section.brune{
    background-color: #ff6337;
}

section.ambree{
    background-color: #ffa02d;
}

section.black{
    background-color: #000000;
    color:#e6e9de;
}

.apropos-text{
    background-color:#d9d9d988;
    margin: 2vw;
    padding-left: 1vw;
    border: 1vw #222222 solid;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  align-items: center;
}

h1.beer{
    font-size: 3vw;
    padding-left: 3vw;
}


body{
    background-color: #e6e9de;
    margin : 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

form{
    display:flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(70, 70, 70);
    border-width: 0.3vw;
    padding:1vw;
    margin: 2vw;
    gap: 0.5vw;
    border-radius:2vw;
}

fieldset{
    border-width: 0;
    padding:0;
}

.bouton_envoyer{
    max-width: 15vw;
}

img{
    max-width: 100%;
    height: 12vw
}

h2.couleur{
    text-align: center;
}

h2.titre{
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin: 5vh 10vw 2vh 10vw;
}

button.changementCSS{
    width: auto;
    padding: 0.8vw;
    border: none;
    font-size: 100%;
    color: rgb(255, 191, 0);
    background-color: black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 10%;
    border-top-left-radius: 25%;
    cursor: pointer;
}

h2.titre_accueil{
    width: fit-content;
    color: black;
    margin-top: 0%;
    padding: 1rem;
    padding-top: 0rem;
    background-color: rgb(255, 191, 0);
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    border: 2px solid black;
    border-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    text-align:center;}

section.vidéo{ 
    flex-direction: column;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}

p.texte_video{
    font-size: 2.5rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li.vrai_vidéo{
    align-items: center;
    min-width: 50%;
    min-height: 50%;
}

video{
    display:block;
    height: auto;
    padding: 0 0;
    margin: 0;
    width: 100%;
}

ul.zone_video{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: fit-content;
    background-color: red;
    border: 1rem;
    margin: 0;
    margin-bottom: 5rem;
    padding: 0;
    border-style:outset;
    border-color: black ;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5% ;
    border-top-left-radius: 5% ;
    gap: 2rem;
    list-style: none;
    background-color: rgb(255, 191, 0);}

* {
    box-sizing: border-box;
}

section.supp  {
    border-right: black 0.2em solid;
}

h2.direction{
    font-size: 2vw;
    cursor: pointer;
    color: #000;
    border:0.1rem;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: rgb(255, 191, 0);
}

section.menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;  
    margin-right: 2%;
}

ul.affichage{
    flex-direction: column;
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

img.flèche{
    max-width: 50px;
    height: auto;
    display: block;
    margin: auto auto;

}

.Aix-Marseille{
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    padding-right: 3vw;
}

ul.Aix-Marseille img{
    height: 8vh;
    padding-left: 3vw;    
}

.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    flex-direction: column;
}
.produits h2{
    width:100%;
}