header{
    background-color: rgb(255, 191, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 40px;
    display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.BEEROS{
    display: flex;
    align-self: flex-start;
}

section{
    border: 2px;
    border-style: solid;
    border-color: black;
}
