header{
    display: flex;
    background-color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: rgb(120, 87, 34);
    font-size: 1.3vw;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border: 0.3vw solid;
    
}

h1{
    align-self: center;
}

main.separation{
    flex-grow: 1;
}

main.produits{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}


section.opa{
    width : 33%;
    list-style-type: none;
}

footer{
    background-color: rgba(205, 205, 205, 0.995);
    opacity: 70%;
    display: flex;
    flex-wrap: wrap ;
    border-bottom-style: solid;
    border-top-style: solid;
    flex-shrink: 0;
    font-size: 0.8vw;
}

section.prevention{
    display: flex;
    width :100%;
    background-color:#ffffff ;
    justify-content: center;
    color: rgb(120, 87, 34);
}

main.produits section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ffd560;
    border: 0.3vw;
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(70, 70, 70);
    min-width: 400px;
    max-height: 20vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
    font-size: 2vw;
}

section.blonde{
    color: #ffffff;
}

section.brune{
    color: #ff6337;
}

section.ambree{
    color: #ffa02d;
}

section.black{
    color: #000000;
}

.apropos-text{
    background-color:#d9d9d988;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  justify-content: flex-end;
}

h1.beer{
    font-size: 2vw;
    padding-left: 3vw;
}

body{
    background-color: #eee3ae;
    margin : 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

form{
    background-color: #e2e2e2;
    display:flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(70, 70, 70);
    border-width: 0.3vw;
    padding:1vw;
    margin:2vw;
    gap: 0.5vw;
    border-radius:2vw;
}

fieldset{
    border-width: 0;
    padding:0;
}

.bouton_envoyer{
    max-width: 15vw;
}

img{
    max-width: 100%;
    height: 12vw
}

h1.biere{
    font-size: 2.5vh;
    margin: 1vh 0vh 5vh 1vh;
}
