header{
    display: flex;
    background-color: rgb(255, 191, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 110%;
    justify-content: space-between;
    align-items: center;
}

section{
    border: 1%;
    border-style: solid;
    border-color: black;
    max-width: 600px;
    max-height: 270px;
    margin: 30px;
}

section.blonde{
    background-color: #f9de5b;
}

section.brune{
    background-color: #ff6337;
}

section.ambree{
    background-color: #ffa02d;
}

section.black{
    background-color: #000000;
    color: #ffffff;
}

section h2{
    padding-left: 20px;
}


ul.titre {
  list-style-type: none;
  display: flex;
  gap: 15%;
  margin-top: 12%;
  margin-right: 15%;
  margin-bottom: 12%;
  justify-content: flex-end;
}

h1.beer{
    font-size: 200%;
    padding-left: 4%;
}

body{
    background-image: url(biere-legere-fraiche-du-barman.jpg);
    background-size: cover;
    background-position: 50% 0%;
    margin : 0px;
}