header{
    display: flex;
    background-color: rgb(255, 191, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 1vw;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
}

main.separation{
    flex-grow: 1;
}
main.produits{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}


section.opa{
    width : 33%;
 
    list-style-type: none;
}

footer{
    background-color: white;
    opacity: 70%;
    display: flex;
    flex-wrap: wrap ;
    border-bottom-style: solid;
    border-top-style: solid;
    flex-shrink: 0;
    font-size: 1.5vw;
}

section.prevention{
    width :100%;
    background-color:rgb(255, 191, 0) ;}

section.blonde{
    background-color: #f9de5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3vw;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    min-width: 20vw;
    max-height: 20vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
}

section.brune{
    background-color: #ff6337;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3vw;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    min-width: 20vw;
    max-height: 20vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
}

section.ambree{
    background-color: #ffa02d;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3vw;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    min-width: 20vw;
    max-height: 20vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
}

section.black{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3vw;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    min-width: 20vw;
    max-height: 20vw;
    margin: 3vw;
    padding: 1vw 2vw 2vw 2vw;
}

.apropos-text{
    background-color:#d9d9d988;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 15%;
  margin-top: 12%;
  margin-right: 15%;
  margin-bottom: 12%;
  justify-content: flex-end;
}

h1.beer{
    font-size: 200%;
    padding-left: 4%;
}

body.Accueil{
    background-image: url(images/fond-ecran_accueil.jpg);
    background-size: cover;
    background-position: 50% 0%;
    margin : 0px;
}

body{
    background-color: #e6e9de;
    margin : 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}