header{
    display: flex;
    background-color: rgb(255, 191, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 2vw;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
}


main.produits{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}


section{
    align-items: center;
    border: 0.3vw;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    min-width: 550px;
    max-height: 270px;
    margin: 30px;
    padding: 0px 2% 2% 2%;
}

section.blonde{
    background-color: #f9de5b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.brune{
    background-color: #ff6337;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.ambree{
    background-color: #ffa02d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.black{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section logo-titre{
    text-decoration: underline;
    font-style: italic;
    display: grid;
    place-items: center;
    justify-content: left;
}

.apropos-text{
    background-color:#d9d9d988;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 15%;
  margin-top: 12%;
  margin-right: 15%;
  margin-bottom: 12%;
  justify-content: flex-end;
}

h1.beer{
    font-size: 200%;
    padding-left: 4%;
}

body.Accueil{
    background-image: url(images/fond-ecran_accueil.jpg);
    background-size: cover;
    background-position: 50% 0%;
    margin : 0px;
}

body.produits{
    background-color: #e6e9de;
    margin : 0px;
}

body.apropos{
    background-color: #e6e9de;
    margin : 0px;
}