header{
    background-color: rgb(255, 191, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Jacques, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 110%;
    display: flex;
   justify-content: space-between;
}

section{
    border: 1%;
    border-style: solid;
    border-color: black;
}

ul.titre {
  list-style-type: none;
  display: flex;
  gap: 10%;
  margin-top: 12%;
  margin-right: 10%;
  justify-content: flex-end;
}
